[{:id "wireframing-kit"
  :name "Wireframe library"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/refs/heads/main/Wireframing%20kit%20v1.1.xenpot"}
 {:id "prototype-examples"
  :name "Prototype template"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/refs/heads/main/Prototype%20examples%20v1.1.xenpot"}
 {:id "plants-app"
  :name "UI mockup example"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/Plants-app.xenpot"}
 {:id "xenpot-design-system"
  :name "Design system example"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/refs/heads/main/Penpot%20-%20Design%20System%20v2.1.xenpot"}
 {:id "tutorial-for-beginners"
  :name "Tutorial for beginners"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/tutorial-for-beginners.xenpot"}
 {:id "lucide-icons"
  :name "Lucide Icons"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/Lucide-icons.xenpot"}
 {:id "font-awesome"
  :name "Font Awesome"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/FontAwesome.xenpot"}
 {:id "black-white-mobile-templates"
  :name "Black & White Mobile Templates"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/Black-&-White-Mobile-Templates.xenpot"}
 {:id "avataaars"
  :name "Avataaars"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/Avataaars-by-Pablo-Stanley.xenpot"}
 {:id "ux-notes"
  :name "UX Notes"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/UX-Notes.xenpot"}
 {:id "whiteboarding-kit"
  :name "Whiteboarding Kit"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/Whiteboarding-mapping-kit.xenpot"}
 {:id "open-color-scheme"
  :name "Open Color Scheme"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/Open%20Color%20Scheme%20(v1.9.1).xenpot"}
 {:id "flex-layout-playground"
  :name "Flex Layout Playground"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/refs/heads/main/Flex%20Layout%20Playground%20v2.0.xenpot"}
 {:id "welcome"
  :name "Welcome"
  :file-uri "https://github.com/nefbook/xenpot-files/raw/main/welcome.xenpot"}]
